<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center bg-grey box-shadow-grey border br14">
                <div class="f22 p-4">
                    <p class="f35 font-baloo">Hello!</p>
                    <p>It's good to see you back</p>
                </div>
                <img src="../../../../assets/images/Illustration.svg" class="img" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mt-2 mt-md-0 text-center">
                <div class="col-8">
                    <input placeholder="Enter search" class="bg-grey w-100 border br5 pt-2 pb-2" />
                    <span class="icon-search search"></span>
                </div>
                <span class="col-2 icon-bell f30 mt-1"></span>
                <span class="col-2 icon-user f30 mt-1">&#8595;</span>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 col-12">
                    <div
                        class="mt-2 mt-md-0 d-flex justify-content-around align-items-center bg-grey box-shadow-grey br14">
                        <div class="font-baloo f80">{{outputdata?.length}}</div>
                        <div class="d-flex flex-column">
                            <div class="f22">Protest</div>
                            <div class="f22">tweets</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div
                        class="mt-2 mt-md-0 d-flex justify-content-around align-items-center bg-grey box-shadow-grey br14">
                        <div class="font-baloo f80">2973</div>
                        <div class="d-flex flex-column">
                            <div class="f20">Total</div>
                            <div class="f20">tweets</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 pr-2">
        <div class="col-md-6 col-12">
            <h4 class="font-baloo">Most retweeted tweets</h4>
            <div class="d-flex justify-content-end align-items-center">
                <div class="box-shadow-grey bg-highly-violent br3"
                    style="width: 13px;height: 13px;margin-right: 0.5rem;"></div>
                <div class="box-shadow-grey bg-high-violent br3" style="width: 13px;height: 13px;margin-right: 0.5rem;">
                </div>
                <div class="box-shadow-grey bg-neutral-violent br3"
                    style="width: 13px;height: 13px;margin-right: 0.5rem;"></div>
                <div class="box-shadow-grey bg-lowly-violent br3"
                    style="width: 13px;height: 13px;margin-right: 0.5rem;"></div>
                <div class="box-shadow-grey bg-low-violent br3" style="width: 13px;height: 13px;margin-right: 0.5rem;">
                </div>

            </div>

            <div *ngFor="let val of outputdata; let i = index">
                <div *ngIf="i < 4" [ngClass]="getBorder(val?.sentiment_class)"
                    class="bg-grey box-shadow-grey box p-2 pt-4 pb-4 pl-2 pb-2 mt-2 mb-2 br14 font-bold">
                    <h6>{{val?.text[0].toUpperCase()}}{{val?.text.slice(1)}}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 text-center">
            <div id="main" class="m-2 box-shadow-grey br14" style="height: 400px;"></div>
        </div>
    </div>
</div>