/* You can add global styles to this file, and also import other style files */

// Font size
.f22{
    font-size: 22px;
}

.f35{
    font-size: 35px;
}

// Border radius
.br5{
    border-radius: 5px;
}

// Other
.pointer {
    cursor: pointer;
}