/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Baloo';
    src: url('./assets/fonts/Baloo-Bhai/baloobhai/BalooBhai-Regular.ttf');
}

.font-baloo {
    font-family: "Baloo", sans-serif;
}

//Background
.bg-grey {
    background: #F5F5F7;
}

//Box shadow
.box-shadow-grey {
    box-shadow: 0px 3px 6px #a5a5a5;
}

.overflow-hidden{
    overflow: hidden;
}

.text-overflow-ellipsis{
    text-overflow: ellipsis;
}

//Height
.h10{
    height: 41px;
}

// Font size
.f20{
    font-size: 20px;
}

.f22{
    font-size: 22px;
}

.f30{
    font-size: 30px;
}

.f35{
    font-size: 35px;
}

.f50{
    font-size: 50px;
}

.f80{
    font-size: 80px;
}

.f100{
    font-size: 100px;
}

// Border radius
.br3{
    border-radius: 3px;
}

.br5{
    border-radius: 5px;
}

.br14{
    border-radius: 14px;
}

// Other
.pointer {
    cursor: pointer;
}

.card{
    background: #F5F5F7;
    border-radius: 14px;
}

.border-highly-violent {
    border: 2.5px solid #14557b;
    // border: 2.5px solid #000000;
}

.border-high-violent {
    border: 2.5px solid #1779b3;
    // border: 2.5px solid #000000be;
}

.border-neutral-violent {
    border: 2.5px solid rgb(22, 200, 224);
    // border: 2.5px solid #00000091;
}

.border-lowly-violent{
    border: 2.5px solid rgb(22, 224, 204);
    // border: 2.5px solid #00000067;
}

.border-low-violent{
    border: 2.5px solid #7fcec5;
    // border: 2.5px solid #0000003a;
}

.bg-highly-violent {
    background-color: #14557b;
    // background-color: #000000;
}

.bg-high-violent {
    background-color: #1779b3;
    // background-color: #000000be;
}

.bg-neutral-violent {
    background-color: rgb(22, 200, 224);
    // background-color: #00000091;
}

.bg-lowly-violent{
    background-color: rgb(22, 224, 204);
    // background-color: #00000067;
}

.bg-low-violent{
    background-color: #7fcec5;
    // background-color: #0000003a;
}

.text-highly-violent{
    color: rgb(0, 217, 255);
    color: #14557b;
    // color: #000000;
}

.text-high-violent{
    color: rgb(3, 218, 247);
    color: #1779b3;
    // color: #000000be;
}

.text-neutral-violent{
    color: rgb(22, 200, 224);
    // color: #00000091;
}

.text-lowly-violent{
    color: rgb(22, 224, 204);
    // color: #00000067;
}

.text-low-violent{
    color: #7fcec5;
    // color: #0000003a;
}

.acknowledgment-bar {
    font-size: 13px;
    font-weight: bolder;
    bottom: 5%;
    left: 40%;
    position: absolute;
    border-radius: 5px;
    min-width: 400px;
    height: 40px;
    color: hsla(0,0%,100%,.7);
    background-color: #323232;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}