<h4 class="font-baloo">Statistics overview</h4>
<div class="row p-3">
    <div class="col-md-12">
        <div class="row">
            <div class="row d-flex p-3">
                <div class="col-md-2 col-6 text-center">
                    <div class="ml-2  box-shadow-grey br14 p-3">
                        <div class="mb-3 font-baloo f12">Total tweets (5)</div>
                        <span class="icon-fire f50 pt-3 text-dark">32</span>
                    </div>
                </div>
                <div class="col-md-2 col-6 text-center">
                    <div class="ml-2  box-shadow-grey br14 p-3">
                        <div class="mb-3 font-baloo f12">Tweets - score 5</div>
                        <span class="icon-fire f50 pt-3 text-highly-violent">32</span>
                    </div>
                </div>
                <div class="col-md-2 col-6 text-center">
                    <div class="ml-2 box-shadow-grey br14 p-3">
                        <div class="mb-3 font-baloo f12">Tweets - score 4</div>
                        <span class="icon-fire f50 pt-3 text-high-violent">32</span>
                    </div>
                </div>
                <div class="col-md-2 col-6 text-center">
                    <div class="ml-2 box-shadow-grey br14 p-3">
                        <div class="mb-3 font-baloo f12">Tweets - score 3</div>
                        <span class="icon-fire f50 pt-3 text-neutral-violent">32</span>
                    </div>
                </div>
                <div class="col-md-2 col-6 text-center">
                    <div class="ml-2  box-shadow-grey br14 p-3">
                        <div class="mb-3 font-baloo f12">Tweets - score 2</div>
                        <span class="icon-fire f50 pt-3 text-lowly-violent">32</span>
                    </div>
                </div>
                <div class="col-md-2 col-6 text-center">
                    <div class="ml-2  box-shadow-grey br14 p-3">
                        <div class="mb-3 font-baloo f12">Tweets - score 1</div>
                        <span class="icon-fire f50 pt-3 text-low-violent">32</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-3">
        <div id="bar" style="height: 450px;" ></div>
    </div>
    <div class="col-md-4 col-12">
        <div class="box-shadow-grey br14">
            <div id="pipe" style="height: 400px;" ></div>
        </div>
    </div>
</div>